@keyframes example{
  from{background-color: #4C4C4C;}
  to{background-color: gray;}}
h1{color: #00CCFF;
   border: 10px solid black;
   font-size: 32pt;
   text-align: center;
   font-family: Book Antiqua;
   margin-top: 65px;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;}

nav{position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width:100%;
  height:30px;
  text-align: center;
  font-size: 16pt;
overflow: auto;}

nav a:hover{background-color: lightblue;
  font-size: 105%;}
h3{color: blue;
  border: 2px solid black;
   font-size: 24pt;
   text-align: center;
   background-color:white;
  font-family: Comic Sans MS;}
body{background-color: silver;}
#a1{float: left;
width: 50%;
  height: 300px;
background-color:lightblue;
overflow: auto;}

#a2{float: left;
width: 50%;
height: 300px;
background-color:#9999FF;
overflow: auto;}

footer{background-color: white;
height: 30px;
clear: both;
overflow: auto;
